
<!--<div class="outerContainer">-->
    <!--<div class="innerContainer">-->
        <!--<div class="tasks">-->
            <!--<div>In progress!</div>-->
            <!--<ul class="displayedInProgress">-->
                <!--here-->
                <!--<div ng-repeat="singular in tasksFromDB">-->
                    <!--<p>{{singular}}</p>-->
                    <!--<p>{{singular.task_name}}</p>-->
                    <!--<a><button ng-click="deleteTask()" class="btn btn-danger"><i class="fa fa-trash"></i></button></a>-->
                    <!--<a href="#completed"><button ng-click="storeTask(task._id)"><i class="fa fa-check-square-o"></i></button></a>-->
                <!--</div>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
