html {
    height: 100%;
    font-size: 200%;
}

body {
    font-family: Courier, "Courier New", monospace;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)), url(../img/hammer_and_sickle.png);
    background-position: center;
    background-repeat: no-repeat;
}

.assign-tasks h1 {
    padding: 2%;
}

.task-container {
    width: 250px;
    display: inline-block;
    padding: 2%;
}

.tasks, .completedTasks {
    font-weight: bold;
    float: left;
    width: 46%;
    position: relative;
    overflow: hidden;
}

.tasks {
    left: 52%;
}

.completedTasks {
    left: 56%;
}

.innerContainer {
    float: left;
    width: 100%;
    position: relative;
    right: 50%;
}

.innerContainer h2 {
    text-decoration: underline;
}

.outerContainer {
    clear: left;
    float: left;
    width: 100%;
    overflow: hidden;
}
.tasks > ul > li {
    margin: 0.3em 0px;
}

.completedTasks > ul > li {
    margin: 0.3em 0px;
}

.tasks > ul > li > a {
    margin: 0.15em 0px 0.15em 1ch;
}

.completedTasks > ul > li > a {
    margin: 0.15em 0px 0.15em 1ch;
}

.displayedInProgress,.displayedCompleted {

}

.completeTask {
    color: #D4AF37;
}

.deleteTask {
    color: #676B6B;
}



